---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Sobre mi" id="intro">
  <Icon slot="eyebrow" name="logomark" class="h-32" />
  <Fragment slot="lead">
    <!-- Soy un apasionado <span class="text-primary">desarrollador web Full Stack</span>, con experiencia en tecnologías<span class="text-primary"> frontend</span> y <span class="text-primary">backend.</span> Mi enfoque <span class="text-primary">orientado a resultados</span> y habilidades multidisciplinarias garantizan proyectos de <span class="text-primary">alta calidad</span> y <span class="text-primary">éxito en equipo.</span> -->
    <!-- Me apasiona crear software que mejore la vida de quienes me rodean. Especializado en diseñar productos digitales centrados en proporcionar la mejor experiencia de usuario. Con foco en la adaptabilidad y optimizacion de los proyectos. -->
    Me apasiona <span class="text-primary">crear software</span> que mejore la vida de quienes me rodean. Especializado en<span class="text-primary"> diseñar</span> productos digitales centrados en proporcionar la mejor <span class="text-primary">experiencia de usuario.</span> Con foco en la <span class="text-primary">adaptabilidad</span> y <span class="text-primary">optimizacion</span> de los proyectos.
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="#showcase"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="telescope" class="h-8" />
      <span>Ver mis trabajos</span>
    </a>
    <a
      href="mailto:anvignaduzzi@gmail.com?Subject=Hola Albano,%20quiero%20contar%20con%20tus%20servicios!"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="rocket" class="h-8" />
      <span>Contactame</span>
    </a>
  </div>
</ContentSection>
